message-rate-topic/examples/example-flow-message-rate-topic.json
[{"id":"ddb92eca0d5f81a9","type":"debug","z":"6fc018f47f24ee06","name":"message rate debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":560,"wires":[]},{"id":"6098f785ad5a9a60","type":"message-rate-topic","z":"6fc018f47f24ee06","name":"1 msg / topic / min","period":"1","periodUnit":"minutes","x":950,"y":540,"wires":[["ddb92eca0d5f81a9"]]},{"id":"1e470632daa65eb1","type":"inject","z":"6fc018f47f24ee06","name":"stopAll","props":[{"p":"stopAll","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":510,"y":520,"wires":[["6098f785ad5a9a60"]]},{"id":"87597e1f5d5bea7b","type":"inject","z":"6fc018f47f24ee06","name":"TestTopic","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"TestTopic","payloadType":"date","x":520,"y":640,"wires":[["6098f785ad5a9a60"]]},{"id":"146f0a14a5f7b2a7","type":"inject","z":"6fc018f47f24ee06","name":"stopTimer TestTopic","props":[{"p":"stopTimer","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"TestTopic","x":550,"y":760,"wires":[["6098f785ad5a9a60"]]},{"id":"da0f7f02c14ac601","type":"inject","z":"6fc018f47f24ee06","name":"\"no topic\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":520,"y":700,"wires":[["6098f785ad5a9a60"]]},{"id":"a103307765f4f0f8","type":"inject","z":"6fc018f47f24ee06","name":"stopTimer \"no topic\"","props":[{"p":"stopTimer","v":"true","vt":"bool"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":550,"y":840,"wires":[["6098f785ad5a9a60"]]},{"id":"40011a2fca13eb9f","type":"inject","z":"6fc018f47f24ee06","name":"TestTopic with 10s period","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"period","v":"10","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"TestTopic","payloadType":"date","x":570,"y":580,"wires":[["6098f785ad5a9a60"]]}]
